body {
  padding: 5% 8%;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  color: hsl(229, 6%, 66%);
}

.top-section {
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: hsl(234, 12%, 34%);  
}

.heading-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: hsl(234, 12%, 34%);
}

.sub-heading {
  margin: 5% 5% 8%;
}

.btm-section {
  margin-bottom: 3rem;
}

.col {
  padding: 0;
}

.middle-cards {
  margin: 0;
  padding: 0;
}

.inner-left-card, .inner-right-card {
  padding: 8%;
  margin-top: 7.5rem;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
  border-radius: 6px;
  position: relative;
  padding-bottom: 100px;
  background-color: hsl(0, 0%, 98%);
}

.inner-top-card, .inner-btm-card {
  padding: 8%;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
  border-radius: 6px;
  position: relative;
  padding-bottom: 100px;
  background-color: hsl(0, 0%, 98%);
}

.inner-left-card {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.inner-top-card {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.inner-btm-card {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.inner-right-card {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.top-card {
  margin-bottom: 1rem;
}

.card-heading {
  font-weight: 600;
  font-size: 25px;
  color: hsl(234, 12%, 34%);
}

.card-subheading {
  margin-bottom: 2rem;
} 

.icon-box {
  float: right;
  position: relative;
}

@media only screen and (max-width: 375px) {
  body {
    padding-top: 20%;
  }
  p {
    font-size: 14px;
  }
  .top-section {
    padding-bottom: 7%;
  }
  .heading {
    font-size: 24px;  
  }
  .heading-bold {
    font-size: 24px;  
  }
  .sub-heading {
    font-size: 14px;
    margin: 5% 4% 8%;
  }
  .inner-left-card, .inner-right-card {
    margin-top: 1rem;
    position: relative;
    padding-bottom: 90px;
  }
  .inner-top-card, .inner-btm-card {
    margin-top: .5rem;
    position: relative;
    padding-bottom: 90px;
  }
  .inner-top-card {
    margin-top: 1rem;
  }
  .card-heading {
    margin-bottom: 8px;
  }
}